<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">

    <link rel="canonical" href="{{ path('home') }}">

    <title>Acessar Gerenciador Loja</title>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
</head>
<body>
    <div class="container">
        <h4>Acessar Painel</h4>
        <hr>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Senha</label>
            <input type="password" name="_password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Lembrar de mim
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Login
            </button>
        </form>
    </div>
</body>
</html>