{{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}

    {{ form_row(form.name) }}

    {{ form_row(form.description) }}

    <button type="submit" class="btn btn-lg {{ buttonType }}">{{ buttonText }}</button>

{{ form_end(form) }}