{% extends 'front.html.twig' %}

{% block title %}Realizar Pagamento{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h4>Dados Pagamento</h4>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12">
                    <label>Número Cartão</label>
                    <input type="text" class="form-control" name="card_number">
                </div>

                <div class="form-group col-12">
                    <label>Nome Cartão</label>
                    <input type="text" class="form-control" name="card_name">
                </div>

            </div>

            <div class="row">

                <div class="form-group col-4">
                    <label>Mês Cartão</label>
                    <input type="text" class="form-control" name="card_month">
                </div>

                <div class="form-group col-4">
                    <label>Ano Cartão</label>
                    <input type="text" class="form-control" name="card_year">
                </div>

            </div>

            <div class="row">

                <div class="form-group col-4">
                    <label>Código de Segurança</label>
                    <input type="text" class="form-control" name="card_cvv">
                </div>

            </div>

            <div class="row">

                <div class="col-12">
                    <button type="submit" class="btn btn-success btn-lg proccessPayment">Realizar Pagamento</button>
                </div>

            </div>
        </div>
        <div class="col-6 border-left pl-5">
            <div class="row">
                <div class="col-12">
                    <h4>Pedido</h4>
                    <hr>
                </div>
                {% set total = 0 %}

                {% for item in cart %}
                    <div class="col-12">
                        <p>
                            {% set subtotal = item.amount*item.price %}
                            {% set total = total + subtotal %}

                            {{ item.amount }}x {{ item.name }} (R$ {{ item.price|number_format(2, ',', '.') }}) - Subtotal: R$ {{ subtotal|number_format('2', ',', '.') }}
                        </p>
                    </div>
                {% endfor %}

                <div class="col-12">
                    <hr>
                    <h5>Total: R$ {{ total|number_format(2, ',', '.') }}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let processPaymentButton = document.querySelector('button.proccessPayment');

        processPaymentButton.addEventListener('click', function (e){
            e.preventDefault();

            alert('Pagamento Relizado...');

            location.href = "{{ path('home_checkout_finished') }}";
        })
    </script>
{% endblock %}