{% extends 'front.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            {% if product.getProductPhotos.count() %}
                <div class="row">
                    <div class="col-3 pr-2">
                        {% for photo in product.productPhotos %}
                        <img src="{{ asset('/uploads/products/' ~ photo.photo) }}" class="card-img-top" alt="..." class="img-fluid mb-2">
                        {% endfor %}
                    </div>
                    <div class="col-9 pl-0">
                        <img src="{{ asset('/uploads/products/' ~ product.getProductPhotos.first().photo) }}" class="card-img-top" alt="...">
                    </div>
                </div>

            {% else %}
                <img src="{{ asset('images/no-photo.jpg') }}" alt="" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-6">
            <d3>{{ product.name }}</d3>
            <p>{{ product.description }}</p>
            <h5>R$ {{ product.floatPrice|number_format(2, ',', '.') }}</h5>
        </div>
    </div>
{% endblock %}