{% extends 'front.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            {% if product.getProductPhotos.count() %}
                <div class="row">
                    <div class="col-3 pr-2">
                        {% for photo in product.productPhotos %}
                        <img src="{{ asset('/uploads/products/' ~ photo.photo) }}" class="card-img-top" alt="..." class="img-fluid mb-2">
                        {% endfor %}
                    </div>
                    <div class="col-9 pl-0">
                        <img src="{{ asset('/uploads/products/' ~ product.getProductPhotos.first().photo) }}" class="card-img-top" alt="...">
                    </div>
                </div>

            {% else %}
                <img src="{{ asset('images/no-photo.jpg') }}" alt="" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-6">
            <h5>{{ product.name }}</h5>
            <p>{{ product.description }}</p>
            <h3>R$ {{ product.floatPrice|number_format(2, ',', '.') }}</h3>
            <form action="{{ path('home_cart_add', {item: product.slug}) }}" class="mt-3" method="post">
                <div class="form-group">
                    <label for="">Quantidade</label>
                    <input type="number" name="amount" id="" value="1" class="form-control col-2">
                </div>
                <button type="submit" class="btn btn-danger btn-lg">Comprar</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr>
            {{ product.body }}
        </div>
    </div>
{% endblock %}